body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* body:hover {
  backdrop-filter: blur(1px);
} */

div:hover {
  backdrop-filter: blur(1px);
}
